/* Start Globale Rules */
:root {
  --main-color: #2196f3;
  --hover-color: #7707f8;
  --main-transition: 0.3s;
  --border-color: #e9e6e6;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --text-color: #777;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
/* Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  border: 2px solid black;
  margin: 0px auto 80px;
  width: fit-content;
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}

.main-title:hover:before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0; /*علشان الدايرة تتحول لمربع*/
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0; /*علشان الدايرة تتحول لمربع*/
    width: 100%;
    height: 100%;
  }
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

/* End Globale Rules */

/* Start Header */
.header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative; /* علشان اما نعمل الميجا مينو متطلعش برة الهيدر */
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /*حلوة علشان أما تصغر لشاشة الموبايل*/
  position: relative; /* برضو علشان اما نعمل الميجا مينو متطلعش برة الهيدر */
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px; /*علشان أما أصغر الشاشات أحافظ على ارتفاع الهيدر*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main-nav {
  display: flex;
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

.header .main-nav > li > a {
  color: black;
  height: 72px; /*علشان أما أصغر الشاشات أحافظ على ارتفاع الهيدر*/
  display: flex; /*a مش حيقبل الارتفاع غير اما تغير طريقة الديسبلاي*/
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  transition: var(--main-transition);
  position: relative; /* علشان حنعمل تأثيرات */
  overflow: hidden;
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%; /*متنساش الاوفر فلو هيدن للأب*/
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
  .header .main-nav {
    margin: auto;
  }
  .header .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}

.header .mega-menu {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  background-color: white;
  width: 100%;
  z-index: -1;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  gap: 40px;
  opacity: 0;
  transition:
    top var(--main-transition),
    opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image img {
    display: none;
  }
}

.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #eee;
  z-index: -1;
  transition: var(--main-transition);
}

.header .mega-menu .links li:hover:before {
  width: 100%;
}

.header .mega-menu .links li a {
  display: block;
  padding: 20px;
  color: var(--main-color);
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

/* End Header */

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1; /*علشان يتوزع وينمو قد مساحة الصورة*/
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  margin: 0; /* علشان اعالج الفرق اللي حيظهر بسببه مع الهيدر*/
  font-size: 40px;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  color: #666;
  line-height: 1.7;
  max-width: 500px;
  font-size: 23px;
  margin: 5px 0 0;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative; /* حستخدم الريلاتيف علشان حستخدم البوزيشن توب في الانيميشن */
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--hover-color);
}
.landing .go-down i {
  animation: boucing 1.5s infinite;
}
/* Start Animations - Image */
@keyframes up-and-down {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
/* End Animations - Image */
/* Start Animations - Icon */
@keyframes boucing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15%);
  }
}
/* End Animations - Icon */
/* End Landing */

/* Start Articles*/
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  background-color: white; /*علشان لو اتغير فيوم من الايام ميأثر على لون البوكس*/
}
.articles .box {
  border-radius: 6px;
  overflow: hidden; /*علشان الصورة كانت طالعة برة البوكس من فوق يمين وشمال*/
  cursor: pointer;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition:
    transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
}
.articles .box .image img {
  width: 100%;
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  margin: 10px 0 0 0;
  line-height: 1.5;
  color: var(--text-color);
}
.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: arrow-moving 0.6s linear infinite;
}
@keyframes arrow-moving {
  100% {
    transform: translateX(10px);
  }
}
/* End Articles */
