/* Start Globale Rules */
:root {
  --main-color: #2196f3;
  --hover-color: #7707f8;
  --main-transition: 0.3s;
  --border-color: #e9e6e6;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --text-color: #777;
  --section-background: #ececec;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
/* Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  border: 2px solid black;
  margin: 0px auto 80px;
  width: fit-content;
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
  transition: var(--main-transition);
  z-index: 2;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}

.main-title:hover:before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0; /*علشان الدايرة تتحول لمربع*/
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0; /*علشان الدايرة تتحول لمربع*/
    width: 100%;
    height: 100%;
  }
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

/* End Globale Rules */

/* Start Header */
.header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative; /* علشان اما نعمل الميجا مينو متطلعش برة الهيدر */
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /*حلوة علشان أما تصغر لشاشة الموبايل*/
  position: relative; /* برضو علشان اما نعمل الميجا مينو متطلعش برة الهيدر */
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px; /*علشان أما أصغر الشاشات أحافظ على ارتفاع الهيدر*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main-nav {
  display: flex;
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

.header .main-nav > li > a {
  color: black;
  height: 72px; /*علشان أما أصغر الشاشات أحافظ على ارتفاع الهيدر*/
  display: flex; /*a مش حيقبل الارتفاع غير اما تغير طريقة الديسبلاي*/
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  transition: var(--main-transition);
  position: relative; /* علشان حنعمل تأثيرات */
  overflow: hidden;
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%; /*متنساش الاوفر فلو هيدن للأب*/
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
  .header .main-nav {
    margin: auto;
  }
  .header .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}

.header .mega-menu {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  background-color: white;
  width: 100%;
  z-index: -1;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  gap: 40px;
  opacity: 0;
  transition:
    top var(--main-transition),
    opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image img {
    display: none;
  }
}

.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #eee;
  z-index: -1;
  transition: var(--main-transition);
}

.header .mega-menu .links li:hover:before {
  width: 100%;
}

.header .mega-menu .links li a {
  display: block;
  padding: 20px;
  color: var(--main-color);
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

/* End Header */

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1; /*علشان يتوزع وينمو قد مساحة الصورة*/
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  margin: 0; /* علشان اعالج الفرق اللي حيظهر بسببه مع الهيدر*/
  font-size: 40px;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  color: #666;
  line-height: 1.7;
  max-width: 500px;
  font-size: 23px;
  margin: 5px 0 0;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative; /* حستخدم الريلاتيف علشان حستخدم البوزيشن توب في الانيميشن */
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--hover-color);
}
.landing .go-down i {
  animation: boucing 1.5s infinite;
}
/* Start Animations - Image */
@keyframes up-and-down {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
/* End Animations - Image */
/* Start Animations - Icon */
@keyframes boucing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15%);
  }
}
/* End Animations - Icon */
/* End Landing */

/* Start Articles*/
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  background-color: white; /*علشان لو اتغير فيوم من الايام ميأثر على لون البوكس*/
}
.articles .box {
  border-radius: 6px;
  overflow: hidden; /*علشان الصورة كانت طالعة برة البوكس من فوق يمين وشمال*/
  cursor: pointer;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition:
    transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
}
.articles .box .image img {
  width: 100%;
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  margin: 10px 0 0 0;
  line-height: 1.5;
  color: var(--text-color);
}
.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: arrow-moving 0.6s linear infinite;
}
@keyframes arrow-moving {
  100% {
    transform: translateX(10px);
  }
}
/* End Articles */

/* Start Gallery*/

.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow:
    0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255, 20%);
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover:before {
  animation: flashing 0.7s;
}

.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Gallery*/

/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .image-holder {
  position: relative;
  overflow: hidden;
}
.features .box .image-holder::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.features .box .image-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 100px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box .image-holder img {
  max-width: 100%;
}
.features .box:hover .image-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 170px 500px 170px 0;
  border-color: transparent transparent white transparent;
}
.features .box h2 {
  font-size: 35px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  width: calc(100% - 30px);

  height: 5px;
  background-color: red;
}
.features .box p {
  line-height: 1.8;
  font-size: 20px;
  margin: 30px 0;
  padding: 20px;
  color: var(--text-color);
}
.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .quality .image-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}

.features .time .image-holder::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
  background-color: #009688;
}

.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .image-holder::before {
  background-color: rgb(3 136 244 / 60%);
}
.features .passion h2::after {
  background-color: #2196f3;
}
.features .passion a {
  color: #2196f3;
  border-color: #2196f3;
  background: linear-gradient(to right, #2196f3 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
@media (max-width: 767px) {
  .features .box .image-holder::after {
    bottom: -2px;
  }
}
/* End Features */

/* Start Testimonials*/
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(128, 128, 128, 0.247);
  position: relative;
}
.testimonials .container .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -50px;
  right: -10px;
  border: 10px solid var(--section-background);
}
.testimonials span.title {
  display: block;
  margin-bottom: 10px;
  color: var(--text-color);
}
.testimonials .rate .filled {
  color: #ffc107;
}
.testimonials p {
  line-height: 1.5;
  color: var(--text-color);
  margin-top: 10px;
}
/* End Testimonials*/

/* Start Team */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .box {
  position: relative;
  cursor: pointer;
}
.team .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  z-index: -2;
  transition: var(--main-transition);
}

.team .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #e4e4e4;
  z-index: -1; /* علشان تبقى فوق البيفور اللي انت عاطيها -2*/
  transition: var(--main-transition);
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box:hover .data img {
  filter: grayscale(100%);
}

.team .box .data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.team .box .data .social-media {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.team .box .data .social-media a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .data .social-media a i {
  color: var(--text-color);
  transition: var(--main-transition);
}
.team .box .data .social-media a:hover i {
  color: var(--main-color);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.team .box:hover .info h3 {
  color: var(--text-color);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* End Team */

/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  box-shadow: 0 10px 20px rgba(128, 128, 128, 0.247);
  position: relative;
  counter-increment: services; /*علشان نعمل ارقام للبوكس*/
  transition: var(--main-transition);
}
.services .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box i {
  display: block;
  margin: 40px auto 20px;
  color: #d5d5d5;
}
.services .box h3 {
  text-align: center;
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 40px;
}
.services .box .info {
  text-align: right;
  padding: 15px;
  background-color: #f9f9f9;
  position: relative;
}
.services .box .info::before {
  /* content: "0" counter(services); */
  content: counter(
    services,
    decimal-leading-zero
  ); /*أفضل حل احترافي (يفصل بين 01 و 10)*/
  position: absolute;
  width: 80px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  padding-right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .box .info::after {
  content: "";
  position: absolute;
  width: 50px;
  height: calc(100% + 0.4px);
  top: 0;
  left: 80px;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
  z-index: 1;
}
.services .box .info a {
  color: var(--main-color);
}
/* End Services */

/* Start Skills */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills .skill .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skills .skill .heading span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}
.our-skills .skills .skill .progress {
  position: relative;
  height: 30px;
  background-color: #eee;
}
.our-skills .skills .skill .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}
@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}
/* End Skills */

/* Start Work-Steps */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.work-steps .steps {
  flex: 1;
}
.work-steps .container img {
  max-width: 100%;
}
.work-steps .steps .step {
  background-color: #f6f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid white;
  position: relative;
}
.work-steps .steps .step::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d5d5d5;
  z-index: -1;
  border-radius: 6px;
  transition: var(--main-transition);
}
.work-steps .steps .step:hover::before {
  background-color: #d5d5d556;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.work-steps .steps .step .step-image {
  width: 200px;
}
.work-steps .steps .step .step-image > img {
  width: 60%;
}
.work-steps .steps .step .step-content {
}
.work-steps .steps .step .step-content h3 {
  font-size: 25px;
}
.work-steps .steps .step .step-content p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .work-steps .steps .step {
    flex-direction: column;
    text-align: center;
  }
}
/* End Work-Steps */
